body{
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}
.header{
    display: inline;
    
}
.top{
    margin-left: 1%;
    margin-right: 1%;
    width: auto;
    height: 250px;
    background-color: #F0E9D2;
    margin-top: 5px;
	background-image: url('../foto/head.jpg');
	background-repeat: no-repeat;
	background-position: center;
}
/* img{

	width: auto;
	margin-right: 1%;
	height: 200px;
} */
.nav{
	width: auto;
	height: 40px;
	line-height: 40px;
	margin-left: 1%;
    margin-right: 1%;
	background-color: #fdb525;
	margin-top: -15px;

}
.nav ul li{
	width: 70px;
	height: 40px;
	float:left;
	list-style: none;
	text-align: center;
	background:#fdb525;
	transition-duration: 1s;
	
	border-right: 0.5px solid #ffffff;
	border-radius: 5px solid;
	
}
.nav ul li:hover ul{
	display: block;
	position: relative;
}
.nav ul li:hover{
	background:#678983;
	
}
.nav ul li ul{
	display: none;
}
.nav ul li ul li{
	width: 70px;
	height: 35px;
	background-color: #E8F6EF;
    margin-left: -40px;
	color: black;
}
.nav ul li a{
	text-decoration: none;
	color: black;
	font-size: 16px;
}
.nav ul li ul li a{
	text-decoration: none;
	color: black;
	font-size: 16px;
}
.content{
	
	height: auto;
	width: auto;
	margin-left: 1%;
	margin-right: 1%;
	display: flex;
	background-color: #ffd27d;
}
.main{
    height: auto;    
    width: auto;
	/* padding: 50px; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex: 3;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	
}
.card{
    height: auto;
    border: 1px black solid;
    width: 500px;
    /* background-color: #fea700; */
    margin: 70px auto;
    border-radius: 5px;
    
    box-shadow: 0px 0px 5px 0px black;

}
.card img{
    height: 150px;
    width: 150px;
    display: block;
    margin: 20px auto;
    
}
.card .contact{
    text-align: center;
     color:black;
  text-shadow: 1px 1px 2px #0c1213;
    font-size: 20pt;
}
table{
    width: 80%;
    /* border: 1px black solid; */
    margin: 20px auto 50px;
}
table tr td{
    height: 60px;
    border-bottom: 1px black solid;
}
table tr td:nth-child(2){
    width: 30px;
}
.kanan{
	width: 100%;
	height: auto;
	border-left: black 1px solid;
	float: left;
	align-self: stretch;
	flex: 1;
    /* box-sizing: border-box;
    overflow: hidden; */
}
.kanan ul{
    list-style: none;
    margin-top: 70px;
}
.kanan ul li{
    height: 50px;
}
.kanan ul li:hover{
    text-shadow: 1px 1px 2px black;
}
.footer{
	margin-left: 1%;
	margin-right: 1%;
	height: 50px;
	background-color: #fea700;
	border-radius: 0px 0px 10px 10px;
	line-height: 50px;
	text-align: center;
}